/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.weather-header{
    padding-bottom: 0px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.heading{
    margin: 5px 0 22px 0;
}

